In [1]:
import pandas as pd
# from statsmodels.stats import weightstats
from scipy import stats
import numpy as np

from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('sc_stats.csv')
df.head()

,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,ft_pct,orb,drb,trb,ast,stl,blk,pf,tov,pts,plus_minus
0,35:39,7,12,0.583,0,1,0.000,0,0,NaN,1,1,2,7,4,0,2,2,14,7
1,39:05,5,9,0.556,2,3,0.667,0,0,NaN,0,2,2,4,1,0,5,3,12,-19
2,28:27,3,6,0.500,1,2,0.500,0,0,NaN,0,5,5,9,2,0,4,1,7,-4
3,21:32,1,5,0.200,0,1,0.000,3,4,0.75,0,1,1,3,0,0,6,0,5,-13
4,31:15,4,8,0.500,1,2,0.500,0,2,0.00,1,3,4,6,0,0,4,5,9,-5

In [4]:
cols = df.columns.tolist()
cols.remove('mp')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 20 columns):
mp            699 non-null object
fg            699 non-null int64
fga           699 non-null int64
fg_pct        697 non-null float64
fg3           699 non-null int64
fg3a          699 non-null int64
fg3_pct       695 non-null float64
ft            699 non-null int64
fta           699 non-null int64
ft_pct        603 non-null float64
orb           699 non-null int64
drb           699 non-null int64
trb           699 non-null int64
ast           699 non-null int64
stl           699 non-null int64
blk           699 non-null int64
pf            699 non-null int64
tov           699 non-null int64
pts           699 non-null int64
plus_minus    699 non-null int64
dtypes: float64(3), int64(16), object(1)
memory usage: 109.3+ KB

In [7]:
df.describe()

,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,ft_pct,orb,drb,trb,ast,stl,blk,pf,tov,pts,plus_minus
count,699.000000,699.000000,697.000000,699.000000,699.000000,695.000000,699.000000,699.000000,603.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,8.128755,17.068670,0.470719,3.569385,8.210300,0.422778,3.662375,4.044349,0.895783,0.701001,3.816881,4.517883,6.610873,1.723891,0.223176,2.477825,3.117310,23.489270,6.670959
std,3.309362,5.146104,0.128132,2.348988,3.756577,0.193731,2.857735,3.043530,0.185660,0.868511,2.202682,2.389844,2.884142,1.328393,0.495227,1.463210,1.861378,9.657655,13.906788
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-32.000000
25%,6.000000,14.000000,0.389000,2.000000,5.000000,0.300000,2.000000,2.000000,0.833000,0.000000,2.000000,3.000000,5.000000,1.000000,0.000000,1.000000,2.000000,17.000000,-3.000000
50%,8.000000,17.000000,0.474000,3.000000,8.000000,0.429000,3.000000,4.000000,1.000000,0.000000,4.000000,4.000000,6.000000,2.000000,0.000000,2.000000,3.000000,23.000000,7.000000
75%,10.000000,20.000000,0.556000,5.000000,11.000000,0.550500,5.000000,6.000000,1.000000,1.000000,5.000000,6.000000,8.000000,3.000000,0.000000,4.000000,4.000000,29.500000,16.000000
max,20.000000,33.000000,1.000000,13.000000,20.000000,1.000000,15.000000,16.000000,1.000000,5.000000,14.000000,14.000000,16.000000,7.000000,2.000000,6.000000,11.000000,54.000000,44.000000

In [8]:
df.isna().sum(axis=0)

mp             0
fg             0
fga            0
fg_pct         2
fg3            0
fg3a           0
fg3_pct        4
ft             0
fta            0
ft_pct        96
orb            0
drb            0
trb            0
ast            0
stl            0
blk            0
pf             0
tov            0
pts            0
plus_minus     0
dtype: int64

In [9]:
# df = df.fillna(0)

In [10]:
# df.isna().sum(axis=0)

mp            0
fg            0
fga           0
fg_pct        0
fg3           0
fg3a          0
fg3_pct       0
ft            0
fta           0
ft_pct        0
orb           0
drb           0
trb           0
ast           0
stl           0
blk           0
pf            0
tov           0
pts           0
plus_minus    0
dtype: int64

In [11]:
# df = StandardScaler().fit_transform(df.drop('Minutes Played', axis=1))

In [12]:
# df = pd.DataFrame(data=df, columns=cols)
# df.head()

In [13]:
df_X = df.loc['fg': 'pts']
df_y = df['plus_minus']

In [14]:
ALPHA = 0.05

In [15]:
for col in df_X.columns:
    tstat, p = stats.ttest_ind(np.array(df_X[col]), np.array(df_y))
    print(p)
    
    if p < ALPHA:
        print('reject')
    else:
        print('dont reject')

nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject
nan
dont reject